

<div class="container-fluid siv-hero-unit">
	<div class="public-hero" id="hero-unit">
		<div id="user_controls">
			<a class="btn btn-default pull-right" href="login.php">Sign In</a>
		</div>
	</div>
	<div class="container metric-container">
		<div class="row">
			<div class="col-sm-3">
				<p class="metric-value muted" id="metric-users"></p>
				<p class="metric-name" id="twine-metric-displaytext-0">registered users</p>
			</div>
			<div class="col-sm-3">			
				<p class="metric-value muted" id="metric-reviews"></p>
				<p class="metric-name" id="twine-metric-displaytext-2">reports reviewed</p>
			</div>
			<div class="col-sm-3">			
				<p class="metric-value muted" id="metric-reports"></p>
				<p class="metric-name" id="twine-metric-displaytext-1">reports published</p>
			</div>
			<div class="col-sm-3">
				<p class="metric-value muted" id="metric-locations"></p>
				<p class="metric-name" id="twine-metric-displaytext-3">active locations</p>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="container public-container">
	
		<div class="row toolset" >
			<a class="col-sm-3 col-sm-offset-1 tools-bg" href="app.php#app=Tools">
				<h2>Tools</h2>
				<img class="pull-left" src="assets/public/img/tools-icon.png" />
				<p>Download the tools and guidelines needed to setup data collection systems in the field.</p>
				<span class="pull-right"><i class="siv-background-circle siv-background-orange"><i class="icon-chevron-right icon-white"></i></i></span>
			</a>
			<a class="col-sm-3 work-bg" href="app.php#app=Work">
				<h2>Work</h2>
				<img class="pull-left" src="assets/public/img/work-icon.png" />
				<p>Create, edit and collaborate on reports with other colleagues.</p>
				<span class="pull-right"><i class="siv-background-circle siv-background-salmon"><i class="icon-chevron-right icon-white"></i></i></span>
			</a>
			<a class="col-sm-3 explore-bg" href="app.php#app=Explore">
				<h2>Explore</h2>
				<img class="pull-left" src="assets/public/img/explore-icon.png" />
				<p>Explore and interact with published reports and data.</p>
				<span class="pull-right"><i class="siv-background-circle siv-background-blue"><i class="icon-chevron-right icon-white"></i></i></span>
			</a>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<h3>Our Partners Include:</h3>
				<div id="partners-carousel" class="row-fluid">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<br /><p><small class="pull-right">&copy;UNHCR 2013, all rights reserved | Contact Us</small></p>
			</div>
		</div>
	</div>
</div>
